<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestTabBarAndNav.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17BE7D121C487BCA0005440D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17BE7D2B1C487BCC0005440D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17BE7D361C487BCC0005440D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
